{% assign sorted = site.chapters | sort: "order" %}
{% assign grouped = sorted | group_by: "section" %}

  <div class="posts-container">
{% for section in grouped %}
  <h1>{{ section.name }}</h1>

    {% for chapter in section.items %}
      <a href="{{ chapter.url | relative_url }}" class="post-link">
        <article class="post-card">
          <div class="post-image-wrapper">
            {% if chapter.image %}
              <img src="{{ chapter.image | relative_url }}" alt="{{ chapter.title }}" class="post-image" />
            {% endif %}
          </div>
          <div class="post-info">
            <h3 class="post-labels">{{ chapter.categories | join: ' | ' }}</h3>
            <h2 class="post-title">{{ chapter.title }}</h2>
          </div>
        </article>
      </a>
    {% endfor %}

{% endfor %}
  </div>