.post-image-wrapper {
	position: relative;
	width: 100%;
	padding-top: 52.36%;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
	display:none;
}

.post-postcontent img {
	display: none;
}

.postlist ul {
	list-style: none;
}

.postlist {
	position: relative;
	/* right: 32px; */
	background-color: #1a1a1a;
	border-radius: 16px;
	width: fit-content;
}

.post {
margin-bottom: 2vh;
}

.postlist ul li ul {
	position: relative;
	right: 24px;
}


ul li ul li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1em;
	padding-left: 0;
}

#left-container {
	width: 30%;
	padding: 10px 1vw 0px 1vw;
	background-color: #111111;
	border-radius: 16px;
	margin: 0vh 3vh 3vh 1vw;
	height: fit-content;
}

.search-box {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-direction: column;
	margin: 2vh auto -2vh auto;
}

.userbox a {
	padding-top: 0;
	border-top: none;
}



.post-postdate h3 {
	position: relative;
	top: -1rem;
	margin-bottom: 1rem;
	color: var(--grey1);
	display: none;
}

li strong {
	opacity: 60%;
}

td, th {
	word-wrap: break-word;
	word-break: break-word; 
	word-break: auto-phrase;
	white-space: normal;
}

.posts-container {
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	padding: 2vh 2vw 2vh 0vw;
	align-content: start;
}

.rp-banner a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rp-banner img {
	display: block;
	max-width: 100%;
	height: auto;
}

.toppanel {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 15px;
	background-color: var(--black);
	height: 3rem;
	gap: 16px;

}

.userbox {
	display: flex;
	align-items: center; /* Vertically centers the items */
	gap: 1rem; /* Optional: space between image and text */
}

.userpic {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
}

.userbox-content h1 {
	margin-right: 2vw; /* Remove default margin for better alignment */
	line-height: 1; /* Optional: tighter text alignment */
}

@media only screen and (max-aspect-ratio: 1/1) {
	.toppanel {
		justify-content: space-between;
		gap: 0px;
	}
	#posts-container {
		width: 100%;
		display: none;
		gap: 0;
		grid-template-rows: max-content;
		padding: 0px 0vw 0vw 3vw;
	}

	#left-container {
		width: 90%;
		padding: inherit;
		text-align: center;
	}

	.postlist {
		position: relative;
		right: 0px;
		text-align: left;
		width: 90%;
		margin: auto;
	}

}